body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: green; /* Set the background color to green */
    margin: 0;
    padding: 20px;
}

.meme-container {
    margin-bottom: 30px;
}

.meme-image {
    max-width: 100%;
    height: auto;
}

.meme-text {
    font-size: 1.5em;
    margin: 20px 0;
}

#quote-button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 20px;
    cursor: pointer;
}

.quote-text {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
    background-color: white; /* Ensure the quote div has a white background */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.chart-container {
    margin: 20px auto;
    width: 50%;
}

.chart-description {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}
